<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>BumpCanvasCar</h1>
	<canvas id="game" style='border: 1px solid #333'></canvas>
	<div id="playerlist"></div>
	<script src="/socket.io/socket.io.js"></script>
<script src="js/build-WCP-min.js"></script>
	<script src="js/main.js"></script>
</div>


  <hr>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->