<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>List of players</h1>
	<table class="table table-striped">
		<thead>
			<tr>
			  <th>#</th>
			  <th>Name</th>
			</tr>
		</thead>
		<tbody>
	<% for(var i=0; i< users.length; i++) {%>
		<tr><td><%= i %></td><td><%= users[i] %></td></tr>
	<% } %>
		</tbody>
	</table>
  </div>
  <hr>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->