<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= title %></a>
      <div class="nav-collapse row">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/players">Players</a></li>
          <li class="active"><a href="/play">Play !</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>BumpCanvasCar</h1>
	<canvas id="game" style='border: 1px solid #333'></canvas>
	<div id="playerlist"></div>
	<script src="/socket.io/socket.io.js"></script>
<script src="js/build-WCP-min.js"></script>
	<script src="js/main.js"></script>
</div>


  <hr>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->